/* .header__navlink,
.header__navlink-active {
  color: #3B82F6;
  font-size: 1.25rem;
  line-height: 1.75rem;
  position: relative;
  display: flex;
  align-items: center;
}

.header__navlink::before {
  content: "";
  background-color: #3B82F6;
  width: 0.25rem;
  height: 0.25rem;
  border-radius: 0.25rem;
  position: absolute;
  right: -0.75rem;
  transition: 250ms ease;
  transform: scale(0);
  opacity: 0;
}

.header__navlink:hover::before {
  transform: scale(1);
  opacity: 1;
}

.header__navlink-active::before {
  content: "";
  background-color: #3B82F6;
  width: 0.25rem;
  height: 0.25rem;
  border-radius: 0.25rem;
  position: absolute;
  right: -0.75rem;
  transition: 250ms ease;
} */