@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "sans";
    src: url("./../public/fonts/sans.woff2");
    font-weight: lighter;
  }
  
  @font-face {
    font-family: "sansbold";
    src: url("./../public/fonts/sansbold.woff2");
    font-weight: bolder;
  }
  
  *::-webkit-scrollbar {
    width: 5px;
    border-radius: 5px;
  }
  
  *::-webkit-scrollbar-track {
    background: #00000000;
  }
  
  *::-webkit-scrollbar-thumb {
    @apply bg-slate-400;
    border-radius: 5px;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
input[type="number"] {
    -moz-appearance: textfield;
  }
  
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    margin: 0;
  }
  
  html {
    overflow-x: hidden;
    direction: rtl
  }
  
  * {
    @apply transition duration-200;
    font-family: "sans"
  }

  .thead__tr__th:first-child,
  .thead__tr__th:last-child,
  .tbody__tr__td:first-child,
  .tbody__tr__td:last-child {
    @apply text-center;
  }
}


@layer utilities {
  .sansbold {
    font-family: "sansbold";
  }

  .a-slow {
    animation-duration: 350ms;
  }
}

@layer components {
  .header__navlink,
  .header__navlink-active {
    @apply text-white relative flex items-center before:content-normal before:bg-white before:w-1 before:h-1
      before:rounded-full before:absolute before:-right-3 before:transition-all before:duration-200 before:scale-0 before:opacity-0
      hover:before:scale-100 hover:before:opacity-100;
  }

  .header__navlink-active {
    @apply before:scale-100 before:opacity-100;
  }

  .btn {
    @apply h-12 flex justify-center items-center gap-3 py-2 px-6 rounded-full border cursor-pointer;
  }

  .btn-out-white {
    @apply text-white border-white border hover:bg-white hover:text-blue-500 hover:ring-4 hover:ring-white hover:ring-opacity-50;
  }

  .btn-out-blue {
    @apply text-blue-500 border-blue-500 border hover:bg-blue-500 hover:text-white hover:ring-4 hover:ring-blue-200;
  }

  .btn-out-green {
    @apply text-green-500 border-green-500 border hover:bg-green-500 hover:text-white hover:ring-4 hover:ring-green-200;
  }
  
  .btn-white {
    @apply bg-white text-blue-500 border-white border hover:ring-4 hover:ring-white hover:ring-opacity-50;
  }

  .btn-blue {
    @apply bg-blue-500 text-white border-blue-500 border hover:ring-4 hover:ring-blue-200;
  }

  .btn-danger {
    @apply bg-red-500 text-white border-red-500 border hover:ring-4 hover:ring-red-400;
  }

  .badge {
    @apply flex justify-center items-center gap-2 px-3 py-1 rounded-full text-xs cursor-default;
  }

  .badge-btn {
    @apply flex justify-center items-center gap-2 px-3 py-1 rounded-full text-xs cursor-pointer hover:brightness-90;
  }

  .badge-blue {
    @apply bg-blue-500 text-white;
  }

  .badge-danger {
    @apply bg-red-500 text-white;
  }

  .tooltip {
    @apply bg-white text-black w-max text-xs
    px-3 py-0.5 rounded-full absolute -top-6 invisible opacity-0
    group-hover:visible group-hover:opacity-100;
  }

  .bg-title {
    @apply h-12 flex justify-center items-center gap-3 py-3 px-6 rounded-full border select-none;
  }

  .title-blue {
    @apply border-blue-500 text-blue-500;
  }

  .bg-input {
    @apply h-12 relative;
  }

  .input {
    @apply border border-blue-500 text-blue-500 placeholder:text-blue-500
    absolute top-0 left-0 w-full h-full pr-6 pl-16 rounded-full
    focus:outline-0 focus:ring-4 focus:ring-blue-200;
  }

  .svg-input {
    @apply stroke-blue-500 absolute left-6 top-1/2 -translate-y-1/2 w-6 h-6;
  }

  .select-box {
    @apply bg-transparent border border-blue-500 text-blue-500 placeholder:text-blue-500
    absolute top-0 left-0 w-full h-full pr-6 pl-16 rounded-full
    focus:outline-0 focus:ring-4 focus:ring-blue-200 cursor-pointer;
  }

  .bg-textarea {
    @apply h-56 relative;
  }

  .textarea {
    @apply border border-blue-500 text-blue-500 placeholder:text-blue-500
    absolute top-0 left-0 w-full h-full pr-6 pl-16 pt-3 rounded-xl resize-none
    focus:outline-0 focus:ring-4 focus:ring-blue-200;
  }

  .svg-textarea {
    @apply stroke-blue-500 absolute left-6 top-3 w-6 h-6;
  }

  .alert-danger {
    @apply bg-red-200 text-red-500 w-full flex justify-between items-center p-3 rounded-xl;
  }

  .table {
    @apply w-[750px] lg:w-full;
  }

  .thead { 
    @apply bg-blue-200 w-full;
  }

  .tbody {
    @apply w-full;
  }

  .thead__tr {
    @apply w-full;
  }

  .thead__tr__th {
    @apply font-light text-right px-3 py-1;
  }

  .tbody__tr {
    @apply border-blue-200 border-b border-dashed w-full hover:bg-blue-50;
  }

  .tbody__tr__td {
    @apply p-3;
  }

  .td__wrapper {
    @apply w-full flex flex-wrap items-center gap-3;
  }

  .show-up {
    animation: show 250ms 1 ease;
  }

  @keyframes show {
    from {
      opacity: 0;
      transform: scale(0.95) translateY(-2rem);
    }
    
    to {
      opacity: 1;
      transform: scale(1) translateY(0);
    }
  }

  .show-right {
    animation: show-right 250ms 1 ease;
  }

  @keyframes show-right {
    from {
      opacity: 0;
      transform: scale(0.95) translateX(2rem);
    }
    
    to {
      opacity: 1;
      transform: scale(1) translateX(0);
    }
  }
}