@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "cas";
  src: url("./../public/fonts/Casablanca.Font.ttf");
}

html {
  overflow-x: hidden;
  direction: rtl
}

* {
  @apply transition duration-200;
  font-family: "cas"
}