@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "sans";
  src: url("./../public/fonts/sans.woff2");
  font-weight: lighter;
}

@font-face {
  font-family: "sansbold";
  src: url("./../public/fonts/sansbold.woff2");
  font-weight: bolder;
}

body::-webkit-scrollbar {
  width: 5px;
  border-radius: 5px;
}

body::-webkit-scrollbar-track {
  background: #00000000;
}

body::-webkit-scrollbar-thumb {
  @apply bg-slate-300;
  border-radius: 5px;
}

html {
  overflow-x: hidden;
  direction: rtl
}

* {
  @apply transition duration-200;
  font-family: "sans"
}

@layer base {
  .sansbold {
    font-family: "sansbold";
  }
}